<h2>Contacts</h2>

<!-- TODO create loop through to display contacts grouped by last name starts with letter

<% ('A'..'Z').each do |letter| %>
<a href="#<%= letter %>"><%= letter %></a>
<% end %> -->


<% ordered_contacts = @contacts.sort_by {|c| c.last_name.downcase} %>

  <% ordered_contacts.each do |contact| %>        
    <div>      
      <%= link_to contact do %>
        <%= contact.first_name %> <%=contact.last_name %>        
      <% end %>
    </div>   
  <% end %>

<br>

<%= link_to 'New Contact', new_contact_path %>
