<h2>Contacts</h2>

<% ('A'..'Z').each do |letter| %>
  <a href="#<%= letter %>"><%= letter %></a>
<% end %>


<% ordered_contacts = @contacts.sort_by {|c| c.last_name.downcase} %>  
  
  <% ('A'..'Z').each do |letter| %>
    <div id='<%= letter %>'>
      <%= letter %>
    </div>
    <% ordered_contacts.each do |contact| %>
      
  		<% if contact.last_name.downcase.first == letter.downcase %>
    		        
  	    <div>      
  	      <%= link_to contact do %>
  	        <%= contact.first_name %> <%=contact.last_name %>        
  	      <% end %>
  	    </div>
      <% end %>
    <% end %>   
  <% end %>

<br>

<%= link_to 'New Contact', new_contact_path %>
