	<div class="contact"
		<h3><%= @contact.first_name %> <%= @contact.last_name %></h3>

		<ul>
		  <li><span class="contact-title">First Name: </span><%= @contact.first_name %></li>
		  <li><span class="contact-title">Last name: </span><%= @contact.last_name %></li>
		  <li><span class="contact-title">Street: </span><%= @contact.street %></li>
		  <li><span class="contact-title">City: </span><%= @contact.city %></li>
		  <li><span class="contact-title">State: </span><%= @contact.state %></li>
		  <li><span class="contact-title">Zip Code: </span><%= @contact.zip_code %></li>
		  <li><span class="contact-title">Phone Number: </span><%= @contact.phone_number %></li>
		</ul>
	</div>
	<br />

<footer>
	<%= link_to 'Edit', edit_contact_path(@contact), class: "back" %>
	<%= link_to 'Back', contacts_path, class: "back" %>
</footer>


