<!DOCTYPE html>
<html>
<head>
  <title>Address Book</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= render partial: "layouts/flash" %>

	<div class="nav-bar">
		<div class="nav-links">
			<h1>Address Book</h1>
			<ul>
				<% if logged_in? %>
					<li><%= link_to "Contacts", contacts_path %></li>
					<li><%= link_to "Sign Out", logout_path, method: :delete %></li>
				<% else %>
					<li><%= link_to "Sign In", login_path %></li>
					<li><%= link_to "Register", new_user_path %></li>
				<% end %>
			</ul>	
		</div>
	</div>

<%= yield %>

</body>
</html>
