<!DOCTYPE html>
<html>
<head>
  <title>Address Book</title>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
		<div class="nav-bar clear">
		<div class="nav-links">
			<h1>Address Book</h1>
			<ul>
				<% if logged_in? %>
					<li><%= link_to "New Contact", new_contact_path, class: "nav-left" %></li>
					<li><%= link_to "Sign Out", logout_path, method: :delete, class: "nav-right" %></li>
				<% else %>
					<li><%= link_to "Sign In", login_path, class: "nav-left"%></li>
					<li><%= link_to "Register", new_user_path, class: "nav-right" %></li>
				<% end %>
			</ul>	
		</div>
	</div>
	<div class="body-wrapper">
		<%= render partial: "layouts/flash" %>

		<%= yield %>
	</div>

</body>
</html>
